* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
  }
  
  .header {
    background-color: #edf4ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 60px;
    object-fit: contain;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .nav {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
  }
  
  .nav button {
    background-color: #ffffff;
    color: #0ac0df;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
  }
  
  @media (max-width: 768px) {
    .nav {
      gap: 10px;
    }
  
    .talk-expert-btn,
    .appointment-btn {
      display: none;
    }
  
    .menu-btn {
      display: block;
    }
  }
  
  /* hero section */
  .hero-image {
    background-image: url("https://s3-alpha-sig.figma.com/img/7ff4/cd9c/47dd5f9ae58f64e48f554e7ad68ccd90?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=HNQgV6Gc741MBeOm8dUolbgysHQyvKe7Q40H6PEDR8tglIpGrP9pHlT10ILHVX5Ex56RPr5R-VvsebXVK8evMy7yum8mTLy3j8UH20Z3yJdoADTmWmLYArwq7e6qpd5OH5L5jHhJsTRkh5jmM~MIBpLIkZt2iY4M2DCJfdmVMZOpwsd94Mcb18WOd~O46~PbgL8qRpvt6LGTKBvJCwhrDbdwXF4xh4huL5ox8kDQLFN1NC-GbbAF8QozzqykuEPGRNBzPi-BwtysvzClQq0SR3Gxsr7qjd4wT-Ud8iGLbCIoz1Y4HQr64SPi1g~Omtgye6kAfV~sTm9oUjxAGDVQxg__");
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    text-align: center;
    position: relative;
  }
  .hero-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  .hero-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 30px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
  }
  .hero-content h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .hero-content h2 {
    color: #07c0de;
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .hero-content p {
    color: #ffffff;
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 35px;
  }
  .more-about-us-btn {
    background-color: #07c0de;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Newes letter css */
  .newsletter-section {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 20px;
  }
  
  .newsletter-content {
    flex: 1 1 400px;
    background-color: #0144ca;
    padding: 40px;
    border-radius: 10px;
    color: white;
    z-index: 1;
    box-sizing: border-box;
    margin-right: -100px;
  }
  
  .newsletter-heading {
    margin: 0 0 10px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .newsletter-text {
    margin: 0 0 20px;
    font-size: 14px;
  }
  
  .newsletter-form {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .newsletter-input {
    flex: 1 1 250px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    min-width: 200px;
  }
  
  .newsletter-button {
    padding: 12px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .newsletter-image-container {
    flex: 1 1 400px;
    text-align: center;
  }
  
  .newsletter-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }
  